@media screen and (min-width: 320px) {
    .header {
            margin: 0px auto;
            width: 83%;
        }
}
@media screen and (min-width: 768px) {
    .header {
            width: 75%;
        }
}
@media screen and (min-width: 1280px) {
    .header {
            width: 69%;
        }
}