.profile__add-button {
    margin: 0px auto;
    
    background: url(../../../images/profile/profile__add-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0); 
    border: 2px solid #FFFFFF;
    border-radius: 2px;

    margin-top: 32px;
    background-size: 16px 16px;
    width: 282px;
    height: 50px;
}
.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}
@media screen and (min-width: 768px) {
    .profile__add-button {
            grid-column: 2;
            margin-right: 0px;
        }
}
@media screen and (min-width: 1280px) {
    .profile__add-button {
            grid-column: 3;
            width: 150px;
            height: 50px;
        }
}